.navWrapper {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  background-color: #ffffff; // copied from white transition
  padding-left: 30px;
  height: 60px;
  z-index: 2;
  box-shadow: 0px -12px 15px 5px #666666;
  img {
    max-height: 100%;
  }

  .topNav {
    overflow: hidden;
    width: 100%;
    transition: background-color 1s;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    flex-direction: row-reverse;

    a {
      float: right;
      display: block;
      color: #1b74fe;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;

      &:hover {
        color: green;
      }
    }

    .icon {
      display: none;
    }
  }

  .whitetopNav {
    transition: background-color 1s;
  }

  @media screen and (min-width: 700px) {
    .topNav a:not(:first-child) {
      float: right;
    }
  }

  @media screen and (max-width: 700px) {
    .topNav {
      background-color: #ffffff;
    }
    .topNav a {
      display: none;
    }
    .topNav a.icon {
      display: block;
      position: absolute;
      right: 0;
      transform: translate(0px, -50%);
      top: 50%;
    }
  }

  @media screen and (max-width: 700px) {
    .topNav.responsive {
      height: 340px;
      display: flex;
      flex-direction: column-reverse;
      max-width: 260px;
      box-shadow: 20px -5px 15px 0px #666666;
    }
    .topNav.responsive .icon {
      position: absolute;
      right: 0;
      top: 50%;
    }
    .topNav.responsive a {
      float: none;
      display: block;
      text-align: left;

      &:nth-child(5) {
        margin-top: 60px;
      }

      &:not(:first-child):not(:last-child) {
        width: 130px;
        text-align: center;
        border-bottom: 1px solid #666666;
      }
    }
  }
}
