.topNav {
  background-color: #ffffff; // copied from white transition
  box-shadow: -12px -13px 7px 9px black; // copied from white transition
  overflow: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: background-color 1s;
  padding: 0 20px;

  a {
    float: left;
    display: block;
    color: #5e98fc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

    &:hover {
      color: green;
    }

    &:first-child {
      font-size: 36px;
      padding: 0;
    }
  }

  .icon {
    display: none;
  }
}

.whitetopNav {
  background-color: #ffffff;
  box-shadow: -12px -13px 7px 9px black;
  transition: background-color 1s;
}

@media screen and (min-width: 600px) {
  .topNav a:not(:first-child) {
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .topNav {
    background-color: #ffffff;
  }
  .topNav a:not(:first-child) {
    display: none;
  }
  .topNav a.icon {
    display: block;
    position: absolute;
    right: 0;
    transform: translate(0px, -50%);
    top: 50%;
  }
}

@media screen and (max-width: 600px) {
  .topNav.responsive {
  }
  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 13%;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
